.pokemons {
  &__params {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
  &__list {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: $list-item-bg-color;
    border: 1px solid $card-bg-color;
    cursor: pointer;
    width: 350px;
    border-radius: 5px;
    min-height: $list-height;
    transition: all 0.3s ease-in-out;
    &:hover {
      // transform: scale3d(1.1, 1.2, 1.2);
      opacity: 0.7;
    }
  }
  &__list-item-img {
    width: $list-height;
    height: $list-height;
    flex-shrink: 0;
  }
  &__list-item-name {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3rem;
    overflow: hidden;
    & span {
      text-transform: capitalize;
      // white-space: nowrap;
    }
  }
}
