.type-filter {
  padding: 0.5rem;
  display: flex;
  column-gap: 10px;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  row-gap: 5px;
  max-height: 220px;
  overflow-y: auto;

  &__item {
    border: 2px solid $accent;
    border-radius: 15px;
    padding: 3px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    &.active {
      background-color: $accent;
      color: $bg-color;
    }
    &:hover {
      opacity: 0.7;
      transform: scale(1, 1.1);
    }
  }
}
